/*estou tirando qq referencia possa vir na página da web*/
*{ 
    padding: 0;
    margin: 0;
}

input{ /*PRIORIZAR ! quero que todos os meus imputs fiquem assim!*/
    width: 150px !important; /*importante força funcionar*/
    height: 150px !important;
    font-size: 50pt !important;
    text-align: center !important;
}

/* Tirar o botão de mais e menos do input tipo number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type = "number"] { /* quero alterar meu number que está dentro dos imputs*/
    -moz-appearance: none;
}

.time {
color: rgb(105, 101, 101);
text-align: center;
width: 20rem;
height: 20rem;
border-radius: 10rem;
display: flex;
justify-content: center; /*horizontal*/
align-items: center; /*vertical*/
margin: auto !important; /* para meu relogio ficar no meio */
}

h2{
    font-size: 90pt;
}
#timer{
    display: none !important;
}
